@page
@model ConnectFourServer.Pages.Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Player)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameResult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameResult)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameStartTime)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Index" class="btn btn-primary btn-sm">Back to List</a>
</div>
